[submodule "loadAmbisonic/addons/ofxAudioFile"]
	path = loadAmbisonic/addons/ofxAudioFile
	url = https://github.com/npisanti/ofxAudioFile.git
[submodule "loadAmbisonic/addons/ofxBRT/libs/brt"]
	path = loadAmbisonic/addons/ofxBRT/libs/brt
	url = https://github.com/GrupoDiana/BRTLibrary.git
[submodule "rotation_head/addons/ofxAudioFile"]
	path = rotation_head/addons/ofxAudioFile
	url = https://github.com/npisanti/ofxAudioFile.git
[submodule "rotation_head/addons/ofxBRT/libs/brt"]
	path = rotation_head/addons/ofxBRT/libs/brt
	url = https://github.com/GrupoDiana/BRTLibrary.git
